#queue div{
	background:red;
	/* display:inline-block; 在IE7以下不起作用*/
	display:inline;
	margin:10px 20px 0 20px;
	padding:10px 10px;
	text-align:center;
	color:#fff;
	cursor:pointer;
   }
#user {
	margin:20px;
	width:300px;
	height:40px;
	font-size:16px;
	line-height:40px;
 
}
button {
	margin:20px;
	width:80px;
	height:40px;
	cursor:pointer;
	border:1px solid #ccc;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}