body{
	width:892px;
	height:1386px;
	padding:0 44px;
	border:1px solid #CCC;
	margin:10px;
}
header .link{
	width:110px;
	height:61px;
	margin:0;
	background-color:#CC0033;
    color:#ffffff;
	text-indent:5px;
	font-size:12px;
	font-family:"SimHei";
	line-height:100px;
}
header .date{
	float:right;
	margin-top:-30px;
    font-size:12px;
	font-family:"SimHei";
	color:#d45d5c;	
}
header hr{
	width:892px;
	height:2px;
	color:#938e8c;
	margin-top:0;
}

.section1  img{
	width:641px;
	height:301px;
	margin:25px 20px 20px 0;
}
.section1  .left{
	width:191px;
	height:301px;
	background-color:green;
	margin-top:25px;
	opacity:0.5;
	filter:Alpha(opacity=50);
	position:absolute;
}
.section1  .right{
	width:191px;
	height:301px;
	background-color:red;
	opacity:0.5;
	filter:Alpha(opacity=50);
	position:absolute;
	margin:25px 0 0 451px;
}
.section1 .aside{
	position:absolute;
	width:203px;
	height:301px;
	top:107px;
	left:743px;
}
.section1 .aside hr{
	width:203px;
	height:2px;
	color:#cc8091;
	margin-top:0;
}
.section1 .aside h2{
	font-size:24px;
	color:#000000;
	font-family:"微软雅黑";
	text-decoration:underline;
	line-height:40px;
	display:inline;
}
.section1 .aside h2 span{
	font-size:30px;
}
.section1 .aside  .content{
	font-size:12px;
	color:#676767;
	font-family:"楷体";
	line-height:10px;
	margin-top:0px;
}
.section1 .aside .number{
	font-size:116px;
	color:#75b86b;
	font-family:"微软雅黑";
	font-style:oblique;
	margin:-20px 0 0 -15px;
}
.section1 .aside .asideLastPart{
	width:203px;
	height:55px;
	color:#cc8091;
	font-family:"微软雅黑";
	margin:-75px 0 0 0;
}
.section1 .aside .pattern1{
	font-size:55px;
}
.section1 .aside .pattern2{
	font-size:21px;
	margin:-105px 0 0 80px;
}
.section1 .aside .pattern3{
	font-size:12px;
	margin:-5px 0 0 80px
}
.section2 div{
	float:left;
}
.section2:after{
	content:"";
	display:block;
	clear:both;
}
.section2 .what{
	width:200px;
	margin-right:30px;
}
.section2 .when{
	width:200px;
	margin-right:30px;
}
.section2 .how{
	width:170px;
}
.section2  h2{
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bold;
	text-decoration:underline;
}
.section2  .what h2{
	color:#418c59;
}
.section2  .when h2{
	color:#d2994f;
}
.section2  .how h2{
	color:#cc7680;
}
.section2  p{
	font-size:12px;
    color:#231815;
	font-family:"微软雅黑";
	line-height:16px;
	opacity:0.7;
	filter:Alpha(opacity=70);
}
.section2  .proportion{
	margin-top:15px;
}
.section2  .proportion span{
	font-style:oblique;
	color:#cd4a48;
}
.section3 .article{
	width:415px;
	margin-right:22px;
}
.section3 .article h2 {
	font-size:42px;
	color:#11456b;
	font-family:"黑体";
	padding-top:16px;
	font-weight:bold;
}
.section3 .article h2 span{
	font-size:72px;
	color:#f5e327;
	font-family:"黑体";
	line-height:16px;
	font-style:oblique;
}
.section3 .article h3{
	font-size:33px;
	color:#11456b;
	font-family:"黑体";
	margin-top:-30px;
}
.section3 .article  p{
	font-size:12px;
	color:#767777;
	font-family:"宋体";
	line-height:16px;
}
.section3 .article p:first-letter{
	font-size:70px;
	color:#f5e327;
	font-family:"微软雅黑";
	float:left;/* 设置段落p标签的首字为浮动，让其占据多行的空间 */
	line-height:52px; /* 这里为首字重新设置行高，在火狐之外的浏览器起作用，解决段落文字覆盖首字的问题 */
}

.section3 .article img{
	float:right;
	margin:10px 0 0 10px;
}
.section3 .aside{
	width:458px;
	position:absolute;
	margin-top:-520px;
	left:490px;
}
.section3  .aside_up img{
	width:458px;
	height:275px;
}
.section3 .aside_up div{
	/* 为了解决父元素和子元素上外边据合并的问题 */
/* 	overflow:hidden;
	border:1px solid transparent; 
	padding-top:1px;
	position:absolute;
	float:left;*/
	padding-top:1px;
	width:458px;
	height:61px;
	background:black;
	opacity:0.4;
	filter:Alpha(opacity=40);
	margin-top:-65px;
}
.section3 .aside_up p{
	border-left:3px solid #72b16a;
	height:44px;
	font-size:26px;
	color:#ffffff;
	font-family:"微软雅黑";
	margin-top:18px;
	margin-left: 20px;
	padding-left:10px;
}
.section3 .aside_up  span{
	font-size:12px;
	color:#72b16a;
	font-style:oblique;
	font-family:"微软雅黑";
	letter-spacing:140%;
}
.section3 .aside_down {
	width:459px;
	height:318px;
	background:#F5F5DC;
	margin-top:20px;
}
.section3 .aside_down .triangle{
	width:0;
	heigth:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:15px solid black;
	float:left;
	margin:3px 20px 0 30px;
} 
.section3 .aside_down  p{
	font-size:16px;
	color:#5a5b5b;
	font-family:"宋体";
	text-align:left;
	line-height:20px;
}
.section3 .aside_down   span{
	font-size:12px;
	font-style:oblique;
	text-align:right;
}
.section3 .aside_down .number_block{
	width:260px;
	height:160px;
	background-color:#d45d5c;
	position:absolute;
}
.section3 .aside_down .number_block .zero{
	height:86px;
	width:60px;	
	padding-right:10px;
	float:left;
	font-size:110px;
	line-height:86px;
	/* 行高的设置为了解决文本太大超出框的问题 */
	color:#ffffff;
	font-family:"微软雅黑";
	margin:30px 10px 0 10px;
	border-right:2px solid #ffffff;
}
.section3 .aside_down .number_block .numbers {
	font-size:21px;
	color:#ffffff;
	font-family:"黑体";
	text-align:left;
	line-height:24px;
	font-style:oblique;
	margin-top:30px;
}
.section3 .aside_down .hello {
	font-size:12px;
	color:#ffffff;
	font-family:"黑体";
	text-align:left;
	line-height:10px;
	margin-top:-5px;
}
.section3 .aside_down  .hello1{
	position:absolute;
	width:180px;
	height:200px;
	margin:-10px 0 0 280px;
}
.section3 .aside_down  .hello1 span{
	font-size:72px;
	color:#d45d5c;
	font-family:"黑体";
}
.section3 .aside_down  .quote1{
	float:left;
	margin: 20px 15px -20px -50px;
}
.section3 .aside_down  .quote2{
	float:right;
	margin-top: 25px;
}
.section3 .aside_down .hello1 p{
	font-size:14px;
	color:#5a5b5b;
	font-family:"黑体";
}	
footer hr{
	width:892px;
	height:1px;
	color:#938e8c;
	margin-top:120px;
}
footer p{
	font-size:12px;
	color:#d45d5c;
	font-family:"黑体";
	float:right;
	margin-top:-5px;
}






